@font-face {
  font-family: ARCADEPI;
  src: url(fonts/ARCADEPI.TTF);
}
@font-face {
  font-family: Pixel;
  src: url(fonts/smallest_pixel-7.ttf);
}
@font-face {
  font-family: FantasqueSansMono;
  src: url(fonts/FantasqueSansMono-Regular.ttf);
}

:root {
  --nav-bg: #102a7f;
  --terminal-dk: #3b4252; 
  --terminal-lt: #d8dee9;
  --one: #1b998b;
  --two: #160f29;
  --three: #cce6f4;
  --four: #d62839;
  --bg-image: url("img/greengrid.jpg");
  --nav-text: #ffd505;
  --pixel-font: "ARCADEPI";
  --pixel-font-small: "Pixel";
  --code-font: "FantasqueSansMono";
  --dark-text: #693b3d;
}

body,
html {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 11px;
  font-family: monospace;
  background-image: var(--bg-image);
}
body a {
  color: var(--three);
  font-weight: bold;
  text-shadow: 1px 1px #693b3d;
}
h1 {
  font-size: 46px;
  font-family: var(--pixel-font);
  text-shadow: 3px 3px #2e3440;
  padding-top: 25px;
  overflow-wrap: break-word;
}
.card {
  font-family: var(--pixel-font-small);
  font-size: 12px;
  margin-top: 10px;
  padding: 0px 0px 10px 0px;
  border-style: dotted;
  //background-color: var(--four);
  background-color: #7357db;
}
.mediaimg {
  width: 50px;
  float: left;
  margin-right: 10px; 
}
.mediaimgbig {
  width: 100px;
  float: left;
  margin-right: 10px; 
}
.trackInfo {
  //padding: 10px;
}
.header {
  width: 100%;
  background-color: var(--terminal-dk);
  color: var(--terminal-lt);
  //background-image: var(--header-bg-img);
  height: 100px;
  //content: "";
}
.code {
  font-family: var(--code-font);
  background-color: var(--terminal-dk);
  color: var(--terminal-lt);
  font-size: 12px;
}
.iconz {
  color: var(--three);
  font-size: 10px;
}
.coolshadows {
  color: var(--three);
  text-shadow: 1px 1px #693b3d;
}
.darkshadow {
  text-shadow: 1px 1px #693b3d;
}
.construction {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: var(--pixel-font-small);
}
.navbar {
  background-color: var(--nav-bg);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 20px;
}
.navbar ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  border-right: 1px dotted white;
  display: inline-block;
  padding-right: 20px;
  margin-top: 3px;
}

.navbar ul li {
  display: inline-block;
  padding-right: 30px;
  padding-top: 2px;
  margin-top: none;
}
.navbar ul li a {
  color: #ffd505;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--pixel-font);
}
.flex {
  display: flex;
  width:100%;
  overflow:hidden;
}
.col {
  width: 203px;
  //height: 600px;
  height: auto;
  //text-align: justify;
}
.bigcol {
  width: 600px;
  height: 600px;
}
.one {
  background-color: var(--one);
}
.two {
  background-color: var(--two);
  //width: 225px;
}
.three {
  background-color: var(--three);
  color: var(--dark-text);
}
.three a {
  //background-color: #7357db;
  background-color: var(--dark-text);
}
.content {
  max-width: 250px;
}
.content h2 {
  font-family: var(--pixel-font);
  font-weight: bold;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.four {
  background-color: var(--four);
}
.padding {
  padding: 10px;
}
.info {
  margin-top: 3px;
  margin-left: 300px;
  font-family: var(--pixel-font);
}
.subheading {
  font-family: var(--pixel-font);
  font-weight: bold;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.center-me {
  margin: 0 auto;
}
hr {
  border-top: 1.5px dotted white;
  border-bottom: 1.5px dotted var(--dark-text);
}
.footer {
  color: var(--three);
  background-color: var(--dark-text);
  margin-left: 203px;
  width: 600px;
}

@media only screen and (max-width: 600px) {
  .flex {
    flex-wrap:wrap;
  }
  .col {
    width:100%;
    height:auto;
  }
  .bigcol {
    width:100%;
    height:auto;
  }
  .navbar {
    height:auto;
  }
  .header {
    height: 150px;
  }
  .footer {
    color: var(--three);
    background-color: var(--dark-text);
    width: auto;
    margin: 0;
  }
}
