<div class="footer">
  <p class="center-me">This website is FOSS! View the source on <a href="https://gitlab.com/spencerriner/varlogspence">GitLab</a>. See the <a href="https://gitlab.com/spencerriner/varlogspence/-/blob/master/LICENSE">License</a> for more details.</p>
</div>
