<div class="header">
  <h1>/var/log/spence</h1>
</div>
<div class="construction">
  <marquee>THIS SITE IS UNDER CONSTRUCTION!</marquee>
</div>
<div class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Reading Log</a></li>
    <li><a href="https://greedysleeper.bandcamp.com/" target="_blank">Greedy Sleeper</a></li>
    <li><a href="https://last.fm/user/spencerriner" target="_blank">Last.fm</a></li>
    <li><a href="#">About Me</li>
    <li><a href="/ack.html">Acknowledgements</a></li>
  </ul>
</div>
