<div class="col">
  <div class="padding one">
    <div class="subheading darkshadow">
      <object type="image/svg+xml" data="img/big-music.svg" class="iconz"></object> Now Playing
      <object type="image/svg+xml" data="img/big-music.svg" class="iconz"></object>
    </div>
    <div class="card">
      <img class="mediaimg" id="trackart" src="#">
      <div class="trackInfo">
        <object type="image/svg+xml" data="img/music.svg" class="iconz"></object>
        <a id="tracktitle"></a><br>
        <object type="image/svg+xml" data="img/user.svg" class="iconz"></object>
        <a id="trackartist"></a>
      </div>
    </div>
    <hr>
    <div class="subheading darkshadow">Now Reading</div>
    <div class="card">
      <img class="mediaimg" src="img/hsp.jpg">
      <p class="coolshadows">
      <i>The Highly Sensitive Person</i>
      <br>
      Elaine N. Aron, Ph.D.
      </p>
    </div>
  </div>
  <div class="padding two">
    <div class="code">
      <p>
      spencer@viridian # neofetch<br />
      <b>OS:</b> Fedora release 35 (Thirty Five) x86_64<br />
      <b>Host:</b> 20L5S1S000 ThinkPad T480<br />
      <b>Shell:</b> zsh 5.8<br />
      <b>DE:</b> GNOME 41.2<br />
      <b>WM:</b> Mutter<br />
      <b>WM Theme:</b> Nordic<br />
      <b>Theme:</b> Nordic [GTK2/3]<br />
      <b>Icons:</b> NordArc-Icons [GTK2/3]<br />
      <b>Terminal:</b> gnome-terminal<br />
      <b>CPU:</b> Intel i5-8250U (8) @ 3.400GHz<br />
      <b>GPU:</b> Intel UHD Graphics 620<br />
      </p>
    </div>
  </div>
  <div class="padding four">
    <img src="img/vim2.gif">
    <img src="img/vim3.gif">
    <img src="img/fedora.gif">
    <img src="img/fftake.gif">
    <img src="img/gnu-linux.gif">
  </div>
</div>
